
html{
    font-size: 62.5%;/* 1rem=10px */
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem=10px */
}

:root{
    --font-heading:'PT Sans', sans-serif;
    --font-p:'Open Sans', sans-serif;
}

h2,h3,h4{
    font-family: var(--font-heading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
    font-family:'Satisfy', cursive;
    line-height: 1.2;
    font-weight: 700;
    text-shadow: 0px 0px 20px palevioletred;

}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.8rem;
}
h4{
    font-size: 2.8rem;
}
p{
    font-family: var(--font-heading);
    font-size: 2.1rem;
    line-height: 2.5rem;
}
.mensaje{
    font-family:'Satisfy', cursive;
    font-size: 2.8rem;
}

header{
    border: 5px solid red;
    text-align: center;
    text-transform: capitalize;
}

section{
    border: 5px solid rgba(248, 233, 209, 0);

}

.video-base{
    background-color: rgba(0, 0, 0, 0.658);;
    border-radius: 1rem;
    color: white;
    margin: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 1px 1px .5rem black;

}

.video{
    width: 80%;
    margin:  auto;
    border: 1rem solid white;
    box-shadow: 1px 1px .5rem black;

}

iframe{
    width: 100%;
}

  #cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
  }
  
  /* ============================================== Candle
  */
  
  .velas {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
  }
  .velas:after,
  .velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
  }
  .velas:after {
    top: 25%;
    left: 0;
  }
  .velas:before {
    top: 45%;
    left: 0;
  }
  
  /* ============================================== Fire
  */
  
  .fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
  }
  .fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
  }
  .fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
  }
  .fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
  }
  .fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
  }
  .fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
  }
  
  /* ============================================== Animation Fire
  */
  
  @keyframes fuego {
    0%, 100% {
      background: rgba(254, 248, 97, 0.5);
      box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
      transform: translateY(0) scale(1);
    }
    50% {
      background: rgba(255, 50, 0, 0.1);
      box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
      transform: translateY(-20px) scale(0);
    }
  }
  
  @keyframes in {
    to {
      transform: translateY(0);
    }
  }
  
  .text {
    color: #8b6a60;
    font-style:italic;
    text-align: center;
  }

.grupo{
    height: auto;
    border: 1px solid rgba(252, 250, 191, 0.199);
    border-radius: 1rem;
    background-color: #ee9ca7;
    box-shadow: 1px 1px .5rem black;

}

body{
    background-color: rgba(252, 250, 191, 0.199);
}